# Python Loops

Python has two primitive loop commands:

- **while** loops
- **for** loops

## **while** Loop

With the **while** loop we can execute a set of statements as long as a condition is **True**.

**Syntax of while Loop in Python**


``` python
while test_expression:
    # body of while
```

**Example 1: while loop**

Print i as long as i is less than or equal to 5:

In [ ]:
i = 1
while i <= 5:
    print(i)
    i += 1

**Example 2: while loop**

Program to add natural numbers up to sum = 1 + 2 + 3 + ... + n

In [ ]:
n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i + 1    # update

# print the sum
print("The sum is", sum)

### The **break** Statement

With the **break** statement we can stop the loop even if the **while** condition is true:

Example: **break** statement

Exit the loop when i is 3:

In [ ]:
i = 1
while i <= 5:
    print(i)
    if i == 3:
        break
    i += 1

### The **continue** Statement

With the **continue** statement we can stop the current iteration, and **continue** with the next:

**Example**

Continue to the next iteration if *i* is 3:

In [ ]:
i = 0
while i <= 5:
    i += 1
    if i == 3:
        continue
    print(i)

## **for** loop


**Syntax of for Loop**

```python
for value in sequence:
	# body of for
```

### The **range()** Function

The **range()** function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

**Example**

Using the **range()** function:

In [ ]:
for i in range(6):
  print(i)

Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

Increment the sequence with 2 (default is 1):

In [ ]:
for i in range(1, 6, 2):
  print(i)

1
3
5

decrement the sequence with -1

In [ ]:
for i in range(5, 0, -1):
  print(i)

5
4
3
2
1

### The **break** Statement

With the **break** statement we can stop the loop

Example: **break** statement

Exit the loop when i is 3:

In [ ]:
for i in range(1, 6, 1):
    print(i)
    if i == 3:
        break

1
2
3

### The **continue** Statement

With the **continue** statement we can stop the current iteration, and **continue** with the next:

**Example**

Continue to the next iteration if i is 3:

In [ ]:
for i in range(1, 6, 1):
    print(i)
    if i == 3:
        continue

# Practice Program

1. Write a python program that takes an integer as input and print all its divisors using loop
2. Write a python program that takes an integer as input and check whether the number is Prime or not

# Task

1. Write a program that takes *n* numbers as input and find their average using loop.

2. Write a program that takes two numbers **base** and **power** as input. The program
will calculate the **power** raised to the **base** value using loop.