# Python Dictionaries

- Dictionaries are used to store data values in key:value pairs.
- Dictionaries are written with curly brackets, and have keys and values:

## Creating Python Dictionary

**Example 1**

Create and print a dictionary:

In [ ]:
laptop = {
    "brand" : "asus",
    "model" : "x510uqr",
    "price" : 64500
}
print(laptop)

{'brand': 'asus', 'model': 'x510uqr', 'price': 64500}

Here, the `keys` of the dictionary are: `brand`, `model`, `price`

**Example 2**

Create and print a dictionary:

In [ ]:
capitals = { "Bangladesh" : "Dhaka", "USA" : "Washington D.C.", "India":"New Delhi"}
print(capitals)

{'Bangladesh': 'Dhaka', 'USA': 'Washington D.C.', 'India': 'New Delhi'}

Here, the `keys` of the dictionary are: `Bangladesh`, `USA`, `India`

**Example 3**

Create and print a dictionary:

In [ ]:
number_names = {
    1 : "One",
    2 : "Two",
    3 : "Three",
    4 : "Four",
    5 : "Five"
}
print(number_names)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}

## Accessing Elements from Dictionary

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

**Example 1:**
Print the "brand" and "price" value of the dictionary:

In [ ]:
laptop = {
    "brand" : "asus",
    "model" : "x510uqr",
    "price" : 64500
}
print("Laptop brand is:", laptop["brand"])
print("Laptop price is:", laptop["price"])

Laptop brand is: asus
Laptop price is: 64500

## Access Dictionary using For Loop

Use the for loop to iterate a dictionary in the Python.

In [ ]:
capitals = { "Bangladesh" : "Dhaka", "USA" : "Washington D.C.", "India":"New Delhi"}

for key in capitals:
    print("Capital of", key, "is", capitals[key])

Capital of Bangladesh is Dhaka
Capital of USA is Washington D.C.
Capital of India is New Delhi

## Dictionary Length

To determine how many items a dictionary has, use the `len()` function:

**Example 1**

Print the number of items in the dictionary:

In [ ]:
capitals = { "Bangladesh" : "Dhaka", "USA" : "Washington D.C.", "India":"New Delhi"}
print(len(capitals))

3

**Example 2**

Print the number of items in the dictionary:

In [ ]:
number_names = {
    1 : "One",
    2 : "Two",
    3 : "Three",
    4 : "Four",
    5 : "Five"
}
print(len(number_names))

5

## Changing and Adding Dictionary elements

If the key is already present, then the existing value gets updated. In case the key is not present, a new (key: value) pair is added to the dictionary.

Update dictionary value on a specific key.

In [ ]:
capitals = { "Bangladesh" : "Dhaka", "USA" : "Washington D.C.", "India" : "New Delhi"}
capitals["India"] = "Delhi"
print(capitals)

{'Bangladesh': 'Dhaka', 'USA': 'Washington D.C.', 'India': 'Delhi'}

add new values

In [ ]:
capitals = { "Bangladesh" : "Dhaka", "USA" : "Washington D.C.", "India" : "New Delhi"}
capitals["Thailand"] = "Bangkok"
print(capitals)

{'Bangladesh': 'Dhaka', 'USA': 'Washington D.C.', 'India': 'New Delhi', 'Thailand': 'Bangkok'}

## Remove Dictionary Items

The `pop()` method removes the item with the specified key name:

In [ ]:
capitals = { "Bangladesh" : "Dhaka", "USA" : "Washington D.C.", "India" : "New Delhi"}
capitals.pop('USA')
print(capitals)

{'Bangladesh': 'Dhaka', 'India': 'New Delhi'}

More dictionary methods can be found in the following link

https://www.w3schools.com/python/python_dictionaries_methods.asp

## Example: Get the frequency of the elements in a list

Write a Python program to get the frequency of the characters in a string.

In [ ]:
text = 'our destiny lies above us'
frequency = {}

for ch in text:
    if ch in frequency:
        frequency[ch] += 1
    else:
        frequency[ch] = 1
print(frequency)

{'o': 2, 'u': 2, 'r': 1, ' ': 4, 'd': 1, 'e': 3, 's': 3, 't': 1, 'i': 2, 'n': 1, 'y': 1, 'l': 1, 'a': 1, 'b': 1, 'v': 1}

# Python Set

- Sets are used to store multiple items in a single variable.
- A set is a collection which is both unordered and unindexed.
- Sets are written with curly brackets.

In [ ]:
fruits = {"apple", "banana", "cherry"}
print(fruits)

{'apple', 'cherry', 'banana'}

**Duplicates Not Allowed**

In [ ]:
fruits = {"apple", "banana", "cherry", "apple"}
print(fruits)

{'apple', 'cherry', 'banana'}

**set items are unindexed**

In [ ]:
fruits[0]

TypeError: ignored