### "Hello world" in Python!

In [1]:
print('Hello world!')

Hello world!

If it works, congratulations! You just ran your first Python program.

## Comments

Comments allow you to write in English, within your program. In Python, any line that starts with a pound (#) symbol is ignored by the Python interpreter.

In [2]:
# This line is a comment.

print("This line is not a comment, it is code.")

This line is not a comment, it is code.

**Why Comments?**

- Comments can be used to explain Python code.
- Comments can be used to make the code more readable.
- Comments can be used to prevent execution when testing code.

## User Input

The following example asks for the username, and when you entered the username, it gets printed on the screen:

In [3]:
username = input("Enter username:")
print("Username is: " + username)

Enter username:Maruf
Username is: Maruf

## Python basic types and variables

### Variables
A variable holds a value.

**Example**

In [4]:
number = 10
print(number)

10

A variable holds a value. You can change the value of a variable at any point.

In [5]:
number = 20
print(number)

20

#### Naming rules
- Variables can only contain letters, numbers, and underscores.
- Variable names can start with a letter or an underscore, but can not start with a number.
- Spaces are not allowed in variable names, so we use underscores instead of spaces. For example, use student_name instead of "student name".
- You cannot use Python keywords as variable names.

#### Type of variable
use the function type() to know the data type of variable

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`

In [6]:
num = 10
type(num)

int

In [7]:
num = -3
type(num)

int

- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`

In [8]:
num = 7.41
type(num)

float

In [9]:
num = -0.006
type(num)

float

- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`

In [10]:
text = 'this is a string using single quotes'
type(text)

str

In [11]:
text = "this is a string using double quotes"
type(text)

str

In [12]:
text = '''this is a triple quoted string using single quotes'''
type(text)

str

In [13]:
text = """this is a triple quoted string using double quotes"""
type(text)

str

- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`

In [14]:
value = 3 < 5
type(value)

bool

In [15]:
3 < 5

True

In [16]:
3 > 5

False

### Basic operators

#### arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - **`//`** (floor division)
  - __`**`__ (exponent)
  - **`%`**	(modulus)

In [17]:
# Assigning some numbers to different variables
num1 = 10
num2 = -3
num3 = 7
num4 = -6
num5 = 4

In [18]:
# Addition
num1 + num2

7

In [19]:
# Subtraction
num2 - num3

-10

In [20]:
# Multiplication
num3 * num4

-42

In [21]:
# Division
num4 / num5

-1.5

In [22]:
# the floor division // rounds the result down to the nearest whole number
x = 15
y = 2
x // y

7

In [23]:
# Exponent
# 2 ^ 3 = 2 * 2 * 2
print(2 ** 3 )

# 3 ^ 4 = 3 * 3 * 3 * 3
print(3 ** 4)

8
81

In [24]:
# modulus
3 % 2

1

#### assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)

In [25]:
# Assigning some numbers to different variables
num6 = 3
num7 = 11

In [26]:
# Increment existing variable
num7 += 4 # num7 = num7 + 4
num7

15

In [27]:
# Decrement existing variable
num6 -= 2 # num6 = num6 - 2
num6

1

In [28]:
# Multiply & re-assign
num3 *= 5
num3

35

In [29]:
# Assign the value of an expression to a variable
num8 = num1 + num2 * num3
num8

-95

#### comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

In [30]:
# Are these two expressions equal to each other?
num1 + num2 == num5

False

In [31]:
# Are these two expressions not equal to each other?
num3 != num4

True

In [32]:
# Is the first expression less than the second expression?
num5 < num6

False

In [33]:
# Is this expression True?
5 > 3 > 1

True

In [34]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

True