# String function

## isupper()

- The **isupper()** method returns True if all the characters are in upper case, otherwise False.

- Numbers, symbols and spaces are not checked, only alphabet characters.

Check if all the characters in the texts are in upper case:

In [19]:
text = "DO NOT GO GENTLE INTO THAT GOOD NIGHT"
x = text.isupper()
print(x)

True

In [20]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS COOPER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

## islower()

- The **islower()** method returns True if all the characters are in lower case, otherwise False.

- Numbers, symbols and spaces are not checked, only alphabet characters.

Check if all the characters in the texts are in lower case:

In [21]:
text = "mankind was born on earth ... it was never meant to die here"
x = text.islower()
print(x)

True

In [22]:
a = "Hello world!"
b = "hello 123"
c = "mynameisCooper"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

## lower()

- The **lower()** method returns a string where all characters are lower case.

- Symbols and Numbers are ignored.

**Example**

Lower case the string:

In [23]:
text = "Those aren't Mountains, They're Waves"

x = text.lower()

print(x)

those aren't mountains, they're waves

## upper()

- The **upper**() method returns a string where all characters are in upper case.

- Symbols and Numbers are ignored.

**Example**

Upper case the string:

In [24]:
text = "Those aren't mountains, they're waves"

x = text.upper()

print(x)

THOSE AREN'T MOUNTAINS, THEY'RE WAVES

## find()

- The **find()** method finds the first occurrence of the specified value.

- The **find()** method returns -1 if the value is not found.

**Example**

Where in the text is the word "welcome"?:

In [25]:
text = "It’s not possible. No, it’s necessary."

x = text.find("possible")

print(x)

9

## replace()

The **replace**() method replaces a specified phrase with another specified phrase.

**Example**

Replace all occurrence of the word "one":

In [26]:
text = "one one was a race horse, two two was one too."

x = text.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

More String Methods can be found here.

https://www.w3schools.com/python/python_strings_methods.asp

# Slicing Strings

- You can return a range of characters by using the slice syntax.

- Specify the start index and the end index, separated by a colon, to return a part of the string.

**Example**

Get the characters from position 4 to position 1 (not included):

In [27]:
text = "Our destiny lies above us"
print(b[4:11])

o 123

## Slice From the Start

By leaving out the start index, the range will start at the first character:

**Example**

Get the characters from the start to position 11 (not included):

In [28]:
text = "Our destiny lies above us"
print(b[:11])

hello 123

## Slice To the End

By leaving out the end index, the range will go to the end:

**Example**

Get the characters from position 4, and all the way to the end:

In [29]:
text = "Our destiny lies above us"
print(b[4:])

o 123