# Python Collections (Arrays)

There are four collection data types in the Python programming language:

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered and unindexed. No duplicate members.
- **Dictionary** is a collection which is ordered* and changeable. No duplicate members.

# List

- In Python programming, a list is created by placing all the items (elements) inside square brackets `[]`, separated by commas.

- It can have any number of items and they may be of different types (integer, float, string etc.).

## Create a List

### List of integers

In [1]:
numbers = [10, 20, 50, 30, 40]
print(numbers)

[10, 20, 50, 30, 40]

### List of string

In [2]:
fruits = ["mango", "banana", "jackfruit", "apple", "cherry"]
print(fruits)

['mango', 'banana', 'jackfruit', 'apple', 'cherry']

### List of mixed data types

In [3]:
mixed = ["mango", 10, "banana", "apple", 20]
print(mixed)

['mango', 10, 'banana', 'apple', 20]

## List Length

In [4]:
fruits = ["mango", "banana", "jackfruit", "apple", "cherry"]
len(fruits)

5

## Access List Elements

We can use the index operator `[]` to access an item in a list. Indices start at 0. So, a list having 5 elements will have an index from 0 to 4.

In [5]:
fruits = ["mango", "banana", "jackfruit", "apple", "cherry"]
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[3])
print(fruits[4])

mango
banana
jackfruit
apple
cherry

Trying to access indexes other than these will raise an `IndexError`.

In [6]:
fruits = ["mango", "banana", "jackfruit", "apple", "cherry"]
print(fruits[5])

IndexError: ignored

## Negative indexing

Python allows negative indexing for its sequences. The index of -1 refers to the last item, -2 to the second last item and so on.

In [7]:
fruits = ["mango", "banana", "jackfruit", "apple", "cherry"]
print(fruits[-1])
print(fruits[-2])
print(fruits[-3])
print(fruits[-4])
print(fruits[-5])

cherry
apple
jackfruit
banana
mango

## Iterating Through a List

Using a `for` loop we can iterate through each item in a list.

In [8]:
fruits = ["mango", "banana", "jackfruit", "apple", "cherry"]
for fruit in fruits:
    print("I like", fruit)

I like mango
I like banana
I like jackfruit
I like apple
I like cherry

## Slicing List

We can access a range of items in a list by using the slicing operator `:`(colon).

**Example**

Get the colors from position 1 to position 5 (not included):

In [9]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
new_colors = colors[1:5]
print(new_colors)

['green', 'blue', 'yellow', 'white']

### Slice From the Start

By leaving out the start index, the range will start at the first position:

**Example**

Get the colors from the start to position 5 (not included):

In [10]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
new_colors = colors[:5]
print(new_colors)

['red', 'green', 'blue', 'yellow', 'white']

### Slice To the End

**Example**

Get the characters from position 3, and all the way to the end:

In [11]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
new_colors = colors[3:]
print(new_colors)

['yellow', 'white', 'black']

## List Methods

### Append Items: `append()`

To add an item to the end of the list, use the `append()` method:

In [12]:
fruits = ["mango", "banana", "jackfruit", "apple", "cherry"]
fruits.append("orange")
print(fruits)

['mango', 'banana', 'jackfruit', 'apple', 'cherry', 'orange']

### Remove Specified Item : `remove()`

The `remove()` method removes the specified item.

In [13]:
fruits = ["mango", "banana", "jackfruit", "apple", "cherry"]
fruits.remove("banana")
print(fruits)

['mango', 'jackfruit', 'apple', 'cherry']

More List methods can be found in the following link.

https://www.w3schools.com/python/python_lists_methods.asp

# Tuples

A tuple is a collection which is ordered and **unchangeable**.

**Example:**

In [14]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

Tuple items can not be changed

In [15]:
mytuple = ("apple", "banana", "cherry")
mytuple[0] = "orange"

TypeError: ignored