# Python String

## String Declaration

**str** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)

- 'this is a string using single quotes'
- "this is a string using double quotes"
- '''this is a triple quoted string using single quotes'''
- """this is a triple quoted string using double quotes"""

In [1]:
string1 = 'this is a string using single quotes'
print(string1)

this is a string using single quotes

In [2]:
string2 = "this is a string using double quotes"
print(string2)

this is a string using double quotes

In [3]:
string3 = '''this is a triple quoted string using single quotes'''
print(string3)

this is a triple quoted string using single quotes

In [4]:
string4 = """this is a triple quoted string using double quotes"""

## Operators on String

Assign some strings to different variables

In [5]:
simple_string1 = 'an example'
simple_string2 = "oranges "

Addition

In [6]:
simple_string1 + ' of using the + operator'

'an example of using the + operator'

Notice that the string was not modified

In [7]:
simple_string1

'an example'

Multiplication

In [8]:
simple_string2 * 4

'oranges oranges oranges oranges '

This string wasn't modified either

In [9]:
simple_string2

'oranges '

Are these two expressions equal to each other?

In [10]:
simple_string1 == simple_string2

False

Are these two expressions equal to each other?

In [11]:
simple_string1 == 'an example'

True

Add and re-assign

In [12]:
simple_string1 += ' that re-assigned the original string'
simple_string1

'an example that re-assigned the original string'

Multiply and re-assign

In [13]:
simple_string2 *= 3
simple_string2

'oranges oranges oranges '

**Note: Subtraction, division, and decrement operators do not apply to strings.**

## Strings are Arrays

- Like many other popular programming languages, strings in Python are arrays of characters.

- However, Python does not have a character data type, a single character is simply a string with a length of 1.

- Square brackets can be used to access elements of the string.

In [14]:
a = "Hello, World!"
print(a[1])

e

## Looping Through a String

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [15]:
for x in "banana":
  print(x)

b
a
n
a
n
a

## String Length

- To get the length of a string, use the **len()** function.

- The len() function returns the length of a string

In [16]:
a = "Hello, World!"
print(len(a))

13

## Check String

To check if a certain phrase or character is present in a string, we can use the keyword **in**.

Check if "free" is present in the following text:

In [17]:
text = "The best things in life are free!"
print("free" in text)

True

Use it in an **if** statement:

In [18]:
text = "The best things in life are free!"
if "free" in text:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

## Check if NOT

To check if a certain phrase or character is NOT present in a string, we can use the keyword **not in**.

In [19]:
text = "The best things in life are free!"
print("expensive" not in text)

True

Use it in an if statement:

In [20]:
text = "The best things in life are free!"
if "expensive" not in text:
  print("Yes, 'expensive' is NOT present.")

Yes, 'expensive' is NOT present.